<div class="inner-data animated fadeInRight">
    <div class="swiffy-slider slider-item-show3 slider-item-reveal slider-nav-dark slider-nav-outside-expand">
        <ul class="slider-container py-4 slideh-list" id="slider2">
            <li *ngFor="let prod of productos">
                <div class=" card shadow h-100 ">
                    <div class="ratio ratio-1x1 ">
                        <a [routerLink]="['/app/product', prod._id]">
                            <img [src]="prod.img | imagenPipe: 'productos'" class="card-img-top " loading="lazy " alt="{{prod.nombre}} ">
                        </a>
                    </div>
                    <div class="card-body d-flex flex-column flex-md-row ">
                        <div class="flex ">
                            <strong>{{prod.titulo | slice: 0:10}}</strong>
                        </div>
                        <div class="px-md-2 precioantes">$ {{prod.precio_ahora}}</div>
                        <div class="px-md-2 ">$ {{prod.precio_antes}}</div>
                        <div class="stars">
                            <div class="star-rating" *ngIf="prod.stars == 5">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                            </div>
                            <div class="star-rating" *ngIf="prod.stars >= 4 && prod.stars < 5">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="star-rating" *ngIf="prod.stars >= 3 && prod.stars < 4">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="star-rating" *ngIf="prod.stars >= 2 && prod.stars < 3">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="star-rating" *ngIf="prod.stars >= 1 && prod.stars < 2">
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="star-rating" *ngIf="prod.stars >= 0 && prod.stars < 1">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="button-add-cart " type="button " (click)="addToCart() ">
                            <i class="fa fa-shopping-bag " id="myBtn "></i>
                        </div>
                    </div>
                </div>
            </li>

        </ul>

        <button type="button " class="slider-nav " aria-label="Go to previous "></button>
        <button type="button " class="slider-nav slider-nav-next " aria-label="Go to next "></button>
    </div>
</div>

<div class="toast-container toast-top-right">
    <div class="toast mb-3 fade hide" id="dark-toast" data-delay="5000" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-accent text-white"><i class="czi-cart mr-2"></i>
            <h6 class="font-size-sm text-white mb-0 mr-auto">Notificación</h6>
            <button class="close text-white ml-2 mb-1" type="button" data-dismiss="toast" aria-label="Close" (click)="close_toast()"><span aria-hidden="true">×</span></button>
        </div>
        <div class="toast-body text-accent">Se agrego el producto al carrito.</div>
    </div>
</div>