<section class="user page">
    <div class="butonBack">
        <a href="javascript:void(0)" (click)="goBack()"><i class="fa fa-angle-left"></i></a>
    </div>
    <div class="titlePage">
        <h3>User Edit</h3>
        <p></p>
    </div>
    <div class="container-fluid cuadro-modal">
        <div class="lineamedio"></div>
        <div class="row">

            <div class="areagris">
            </div>

            <div class="areablanc areablanc-interna animated fadeInUp">


                <div class="div-responsive1">



                    <div class="post-inner">
                        <div class="container">

                            <form class=" p-t-20 col-xs-12" [formGroup]="direccionForm" (ngSubmit)="onSubmit()">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Nombre y apellidos</label>
                                        <input class="form-control" type="text" required placeholder="Nombres y apellidos" formControlName="nombres_completos">

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>País</label>
                                        <input class="form-control" type="text" required placeholder="pais" formControlName="pais">
                                        <!-- <select class="form-control" name="pais" required formControlName="pais">
<option value="" selected disabled>SELECCIONAR</option>
<option value="{{item.substr(0,20)}}" *ngFor="let item of data_paises">{{item.substr(0,20)}}</option>
</select> -->
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Dirección</label>
                                        <textarea class="form-control" placeholder="Ingrese la dirección" required formControlName="direccion"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Referencia</label>
                                        <textarea class="form-control" placeholder="Referencia de su dirección" required formControlName="referencia"></textarea>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Ciudad</label>
                                        <input class="form-control" type="text" id="address-fn" required placeholder="Ciudad" formControlName="ciudad">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>ZIP</label>
                                        <input class="form-control" type="text" id="address-fn" required placeholder="Código Postal" formControlName="zip">
                                    </div>
                                </div>

                                <button type="submit" [disabled]="direccionForm.invalid" class="btn btn-success waves-effect waves-light m-r-10 btn-block">
                       <i class="fa fa-save"></i> Guardar cambios
                      </button>
                            </form>
                        </div>


                    </div>
                </div>

                <div class="div-responsive2">

                    <div class="lateral">
                        <div class="group  itemFav shadow">
                            <img src="assets/users/1.jpg" alt="">
                            <div class="div1">
                                <p>John Doe.</p>
                                <p>Johndoe@gmail.com</p>
                                <p>User</p>

                            </div>
                        </div>

                        <div class="banner-c">
                            <img src="https://picsum.photos/seed/car/500/500" alt="">
                        </div>
                    </div>
                </div>





            </div>



        </div>

    </div>
</section>