<section class="page ">
    <div class="butonBack">
        <a href="javascript:void(0)" (click)="goBack()"><i class="fa fa-angle-left"></i></a>
    </div>
    <div class="titlePage">
        <h3>Shipping Delivery</h3>
    </div>


    <!--cuadromodal-->
    <div class="container-fluid cuadro-modal animated fadeInUp">
        <div class="lineamedio"></div>
        <div class="row">
            <div class="areagris"></div>
            <div class="areablanc areablanc-interna animated fadeInUp">
                <div class="div-responsive1">
                    <div class="info-product animated fadeInUp ">
                        <h3>Datos para retiro en tienda</h3>
                        <div class="form ">
                            <form [formGroup]="pickupForm" (submit)="pickupFill()">
                                <div class="col-xs-12">
                                    <input class="form-control form-control-md" formControlName="nombreCompleto" type="text" placeholder="First name">
                                </div>
                                <div class="col-xs-12">
                                    <input class="form-control form-control-md" formControlName="idNumber" type="text" placeholder="idNumber">
                                </div>
                                <div class="col-xs-12">
                                    <input class="form-control form-control-md" formControlName="phone" type="text" placeholder="Phone Number">
                                </div>
                                <div class="col-xs-12">
                                    <input class="form-control form-control-md" formControlName="email" type="text" placeholder="email">
                                </div>


                                <div class="botonera">
                                    <button type="submit" [disabled]="pickupForm.invalid" class="button btn-full-red">
                                    <i class="fa fa-save"></i> Guardar
                                   </button>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="clear"></div>

                    <div class="info-product animated fadeInUp ">
                        <a routerLink="/app/wallet">
                            <button class="button btn-full-red w-100">Continue</button>
                        </a>

                    </div>

                </div>

                <div class="div-responsive2">

                    <app-lateral></app-lateral>
                </div>
            </div>
        </div>
    </div>
    <!--cuadromodal-->






</section>