<section class="page cart user">
    <div class="butonBack">
        <a href="javascript:void(0)" (click)="goBack()"><i class="fa fa-angle-left"></i></a>
    </div>
    <div class="titlePage">
        <h3>Cart Detail</h3>
    </div>

    <div *ngIf="cartItems.length < 1">
        <div class="alert alert-info text-center">
            <h4>Your Cart is empty</h4>
        </div>
    </div>
    <div *ngIf="cartItems.length > 0">

        <!--list of products mobile-->
        <!--list of products-->
        <div class="listProducts animated fadeInUp ">
            <div class="product" *ngFor="let item of cartItems; index as i">
                <div class="itemProductdiv1">
                    <a [routerLink]="['/app/product', item.productId]">
                        <img [src]="item.img | imagenPipe: 'productos'" alt="">
                    </a>
                </div>
                <div class="itemProductdiv2">
                    <div class="addCompra">
                        <div class="addCompradiv1 nameProduct">
                            <p>{{item.productName| slice: 0:10 }}...</p>

                        </div>
                        <div class="addCompradiv2 addInfo">
                            <p>200gm</p>
                            <p>${{item.productPrice}}</p>
                        </div>
                        <div class="addCompradiv3 buttonsAdd">
                            <i class="fa fa-minus" (click)="deletItem(i)"></i>
                            <i class="fa fa-plus" (click)="addToCart(this.producto)"></i>
                            <i class="fa fa-trash" aria-hidden="true" (click)="emptyCart()"></i>

                        </div>
                        <div class="addCompradiv4 subtotal">
                            <p>Cant: {{item.quantity }}</p>
                            <p>${{item.quantity * item.productPrice| number: '1.1-2'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--list of products-->
        <!--list of products mobile-->
        <!--cuadromodal-->
        <div class="container-fluid cuadro-modal animated fadeInUp">
            <div class="total">
                <i class="fa fa-trash" aria-hidden="true" (click)="emptyCart()"></i>
                <p>Sub-total: ${{total}}</p>
            </div>
            <div class="lineamedio"></div>
            <div class="row">

                <div class="areagris">
                </div>

                <div class="areablanc areablanc-interna animated fadeInUp">


                    <div class="div-responsive1 scrollable">
                        <div class="container">
                            <div class="text-center mb-4 pb-3 border-bottom">
                                <h2 class="h6 mb-3 pb-1">Subtotal</h2>
                                <!-- <h3 class="font-weight-normal">${{total}}</h3> -->
                                <h3 class="font-weight-normal">${{subtotal}}</h3>
                            </div>
                            <!-- medio postal -->
                            <div class="card mb-4 cart-data-venta" style="padding-left: 8px;">
                                <div class="card-body">
                                    <h3 style="    font-size: 1rem;
                          margin-bottom: 0px;">Medio postal</h3>
                                </div>
                                <table class="postal">
                                    <thead>
                                        <th>OP</th>
                                        <th>Medio postal</th>
                                        <th>Precio</th>
                                    </thead>
                                    <tbody *ngFor="let item of postales">
                                        <tr>
                                            <td *ngIf="item._id == radio_postal">
                                                <input type="radio" class="form-control" style="height: 25px;width: 15px;" [attr.id]="'postal-'+item._id" name="radio" (change)="select_postal($event,item)" value="{{item._id}}" checked>
                                            </td>
                                            <td *ngIf="item._id != radio_postal">
                                                <input type="radio" class="form-control" style="height: 25px;width: 15px;" [attr.id]="'postal-'+item._id" name="radio" (change)="select_postal($event,item)" value="{{item._id}}">
                                            </td>
                                            <td>
                                                <!-- Blockquote -->
                                                <blockquote class="blockquote" style="margin-bottom: 0.4rem;">
                                                    <p style="font-size: 13px;margin-bottom: 0px !important;">{{item.titulo}}</p>
                                                    <footer class="blockquote-footer">
                                                        {{item.tiempo}}
                                                    </footer>
                                                </blockquote>

                                            </td>
                                            <td>${{item.precio}}</td>

                                        </tr>
                                    </tbody>

                                </table>

                            </div>

                            <!-- medio postal -->
                            <!-- promoCode -->
                            <div class="accordion mb-4 cart-data-venta" id="order-options" *ngIf="carrito.length != 0">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="accordion-heading"><a href="#promo-code" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="promo-code">Aplicar promoción<span class="accordion-indicator"></span></a></h3>
                                    </div>
                                    <div class="collapse show" id="promo-code" data-parent="#order-options">
                                        <form class="card-body needs-validation" method="post" novalidate>
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="Cupón" name="cupon" maxlength="13" [(ngModel)]="cupon" (keyup)="get_data_cupon($event,cupon)">
                                                <div class="invalid-feedback" *ngIf="msm_error_cupon">Este cupón no esta disponible.</div>
                                                <div class="valid-feedback" *ngIf="msm_success_cupon" style="display: block;">Cupón aplicado exitosamente!</div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="accordion-heading"><a class="collapsed" href="#shipping-estimates" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="shipping-estimates">Dirección de envío<span class="accordion-indicator"></span></a></h3>
                                    </div>
                                    <div class="collapse" id="shipping-estimates" data-parent="#order-options">
                                        <div class="card-body">

                                            <div class="form-group">
                                                <select class="form-control custom-select" required (change)="get_direccion()" [(ngModel)]="id_direccion">
                                      <option value="" selected disabled>Selecciona</option>
                                      <ng-container *ngFor="let item of direcciones">
                                        <option value="{{item._id}}">{{item.direccion}}</option>
                                      </ng-container>

                                    </select>

                                            </div>


                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="invalid-feedback" style="display: block;" *ngIf="msm_error">{{msm_error}}</div>


                            <!-- promoCode -->

                            <!-- pagar -->
                            <button class="btn btn-primary btn-shadow btn-block mt-4 mb-4" *ngIf="carrito.length != 0" id="btn-verify-data" (click)="verify_data()"><i class="czi-card font-size-lg mr-2"></i>Proceder a pagar</button>
                            <!-- pagar -->
                            <button class="btn btn-primary btn-shadow btn-block mt-4 mb-4" id="btn-back-data" (click)="back_data()"><i class="czi-reply font-size-lg mr-2"></i>Regresar</button>


                            <!-- detalle envio -->
                            <div class="bg-secondary rounded-lg px-4 pt-4 pb-2 mb-4" id="card-data-envio">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4 class="h6">Detalles de envío:</h4>
                                        <ul class="list-unstyled font-size-sm">
                                            <li><span class="text-muted dt-w">Destinatario:&nbsp; <br></span>{{data_direccion.nombres_completos}}</li>
                                            <li><span class="text-muted dt-w">Dirección:&nbsp; <br></span>{{data_direccion.direccion}}</li>
                                            <li><span class="text-muted dt-w">País - Ciudad - ZIP:&nbsp; <br></span> {{data_direccion.pais}} <span> - </span> {{data_direccion.ciudad}} <span> - </span> {{data_direccion.zip}}</li>
                                        </ul>
                                    </div>

                                </div>
                            </div>

                            <!-- detalle envio -->

                            <!-- pago -->
                            <div class="card" id="card-pay">
                                <div class="card-header">
                                    <h3 style="    font-size: 1rem;
                              margin-bottom: 0px;">Pagos</h3>
                                </div>
                                <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                            </div>
                            <!-- pago -->

                        </div>



                    </div>

                    <div class="div-responsive2">

                        <!-- <app-lateral></app-lateral> -->
                    </div>
                </div>
            </div>
        </div>
        <!--cuadromodal-->
    </div>









</section>
